name: GitHub Actions Demo
on: 
  push:
    branches: 
      - main
    paths-ignore: 
      - .github/**
  pull_request:
    branches: 
      - main
  schedule:
    - cron: 15 6 * * 0
  workflow_dispatch:

jobs:
  BUILD: 
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "event: ${{ github.event_name }}"
          echo "branch: ${{ github.ref }}"
          
      - uses: actions/checkout@v6.0.1

      - name: List files in the repository 
        run: |
          echo "Repository ${{ github.repository }} contains:"
          tree 
      
    
    
      
